#app, #bg, .fireworks, .bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.icon-div {
    padding: 5px;
    max-width: 100px;
    background: transparent;
    border: none;
    color: white;
    margin: 5px;
    margin-bottom: 25px;
}

.btn-category {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.icon-div:hover,
.icon-div.active {
    /* background: rgba(0,0, 0, .2); */
    background-color: rgba(204, 238, 187, 0.3);
    border-color: #9B8;
}

    .icon-div.active:hover {
        /* background: rgba(0,0, 0, .3); */
        background-color: rgba(204, 238, 187, 0.3);
        border-color: #9B8;
    }


.icon-div > span {
    width: 100px;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    margin: 0;
    margin-left: -5px;
    text-align: center;
}

.con-menu-btn {
    position: absolute;
    top: 0;
    padding: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


#context {
    padding: 10px;
    /*margin-left: 100px;
    margin-right: 100px;*/
    padding-left: 100px;
    padding-right: 100px;
    height: 95vh;
    overflow-y: auto;
}

    #context::-webkit-scrollbar {
        width: 25px;
        background: rgba(0,0, 0, .2);
    }

    #context::-webkit-scrollbar-thumb {
        background: rgba(0,0, 0, .5);
    }

body {
    /*background-image: url('../img/bg2.jpg');
    background-size: cover;*/
    background: white;
    overflow: hidden;
}

.depth {
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
    margin: 4px;
}

span {
    display: inline-block;
    width: 40%;
}

.nav-btns {
    padding: 4px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

    .nav-btns > button {
        font-weight: 700;
        text-transform: uppercase;
    }

.btn-default {
    background: transparent;
    border: none;
}

.btn-auto {
    margin-left: 4px;
}

.btn-default:hover,
.btn-default.active,
.btn-default:focus,
.btn-default:active,
.btn-default.active:active {
    background: rgba(0,0, 0, .3);
    border: none !important;
    outline: none !important;
}

    /*.btn-default.active,
    .btn-default.active:hover,
    .btn-default.active:focus,
    .btn-default.active:focus:hover {
        color: #5cf2f9;
    }*/

    .btn-default.active:hover,
    .btn-default.active:focus:hover,
    .btn-default.hover:focus,
    .btn-default.focus:hover {
        background: rgba(0,0, 0, .4) !important;
        border: none !important;
        outline: none !important;
    }

    .btn-default.active:focus,
    .btn-default:focus {
        border: none !important;
        outline: none !important;
        background: rgba(0,0, 0, .3) !important;
    }

.desk-btn {
    margin: 7px;
}

.centerInfo {
    height: 100%;
    width: 100%;
    top: 50%;
    font-size: 80px;
    color: white;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
}



/*************************************/

/* 
.selection {
	position: absolute;
	border: 1px solid #89B;
	background: #BCE;
	background-color: #BEC;
	border-color: #8B9;
	}
.size2 {
	height: 118px;
	line-height: 118px;
	}
.size3 {
	height: 178px;
	line-height: 178px;
	}
.drop {
	float: left;
	border: 1px dashed #888;
	background: #EEE;
	text-align: center;
	padding: 20px;
	margin: 0 10px 10px 0;
	}
.dropped {
	background-color: rgba(238, 187, 204, 0.5);
	border-color: #B89;
	}	
.active {  
	background-color: #CEB;
	border-color: #9B8;
	} */
